extends layout

block content

  h1 Genre: #{genre.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Blogs
    
    dl
    each blog in genre_blogs
      dt 
        a(href=blog.url) #{blog.title}
      dd #{blog.content}

    else
      p This genre has no blogs.
      
 